<!DOCTYPE html>
<html ng-app="icecreamStore">
  <head>
    <meta charset="utf-8"/>
    <title>Slush-Angular</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src='app.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body ng-controller="StoreController as store">
    <h1>Shaping Up with Angular</h1>
    <li ng-repeat="product in store.products">
      <h2>{{product.name}}</h2>
      <p class='price'>{{product.price | currency}}</p>
      <p class="description">{{product.description}}</p>
      <img ng-src="{{product.image}}" />
      <button ng-hide="store.checkQty({{product.quantity}})">Add to Cart</button>
      <p class='out-of-stock' ng-show="store.checkQty({{product.quantity}})">Out of Stock</p>
      <h3>Reviews</h3>
      <div>
        <blockquote ng-repeat="review in product.reviews">
          <strong>{{review.rating}} Stars</strong>
          {{review.description}}
          <cite>- {{review.author}}</cite>
        </blockquote>
      </div>
    </li>

  </body>
</html>
